html,
body {
  margin: 0;
}
header {
  display: flex;
  margin: 25px;
  width: 1425px;
  height: 132px;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin: 81px;
  }
  ol {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
  button {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .header_navbar {
    :nth-child(4) {
      button {
        background: #326259;
        border-radius: 15px;
        width: 166px;
        height: 56px;
        color: #d9d9d9;
        border: none;
        &:hover {
          background-color: #4cac9a;
          cursor: pointer;
        }
      }
    }
    :nth-child(5) {
      button {
        background-color: #d9d9d9;
        border-radius: 15px;
        width: 166px;
        height: 56px;
        border: none;
        &:hover {
          cursor: pointer;
          background-color: #aca8a8;
        }
      }
    }
  }
  .navbar {
    margin: 77.5px;
    a:hover {
      color: #383535;
    }
  }
  .login {
    margin: 30px;
  }
}
