.container__img img {
  width: 426px;
  height: 285px;
  margin: 7% 0%; }

.container__flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.container__flex a {
  text-decoration: none;
  color: #000; }

.subtitle__main {
  font-size: 26px; }

.price__hotel {
  font-size: 28px; }

.form-content {
  width: 100%;
  max-width: 100%;
  border: #326259 2px solid;
  border-radius: 10px; }
  .form-content h1 {
    margin: 8px 0;
    text-align: center; }
  .form-content p {
    margin: 8px 0; }

.form-content__text {
  width: 60%;
  margin: 0 auto; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin: 10px 0; }

.form__input {
  width: 60%;
  height: 24px;
  border-radius: 6px; }

.form__input--comment {
  height: 30px; }

.form__buttons {
  border: lightgray;
  border-radius: 15px;
  background-color: lightgray;
  width: 30%;
  height: 20px; }

.form__buttons:hover {
  border: #326259;
  background-color: #326259;
  color: white; }

@media (min-width: 1024px) {
  .form-content {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto; }
  .form__input {
    width: 60%;
    height: 30px; }
  .form__buttons {
    width: 20%;
    height: 40px; } }

@media (min-width: 768px) {
  .form-content__text {
    width: 60%;
    margin: 0 auto; }
  .form {
    margin: 30px 0px; }
  .form__input {
    width: 60%;
    height: 30px; }
  .form__input--comment {
    height: 50px; }
  .form__buttons {
    width: 20%;
    height: 40px; } }

.description__above--line {
  border-top: 1px solid #000; }

.container__flex--list {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  margin: 0% 0% 21% 0%; }

.subtitle__description {
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  margin-left: 6%; }

.text__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-left: 6%;
  width: 79%;
  margin-top: -1%; }

.container__list--flex {
  display: flex;
  flex-direction: column;
  font-size: 20px; }

.list__styles--1 {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 6%; }

.list__styles--1 li {
  margin: 0 0 2rem 0; }

.list__styles--2 {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 6%; }

.list__styles--2 li {
  margin: 0 0 2rem 0; }
