.container__img img{
  width: 426px;
  height: 285px;
  margin: 7% 0%;
}

.container__flex{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container__flex a{
  text-decoration: none;
  color: $black;
}

.subtitle__main{
  font-size: 26px;
}

.price__hotel{
  font-size: 28px;
}